@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'poppins', sans-serif;
}


/* #triangle-down {
    position: absolute;
        width: 0;
        height: 0;
        right: 0;
        border-left: 159px solid transparent;
        border-right: 302px solid transparent;
        border-top: 100px solid #5b2bdf;
        z-index: -10;
} */

:root {
    --primary-color:  #5b2bdf
}


#triangle-down {
    position: absolute;
    right: 0;
    height: 512px;
    width: 100%;
    clip-path: polygon(140% 0, 31% -30%, 72% 100%);
    background-color: var(--primary-color);
    z-index: -10;;
}



@media only screen and (max-width: 600px) {

    #mob-nav {
        display: hidden;
    }
}
